*{
    margin: 0;padding:0;
    box-sizing: border-box; 
}form{
    display: flex;row-gap: 20px;align-items: center;
    justify-content: center;font-size: x-large;
    flex-direction: column;min-height: calc(100vh - 70px);
}form *{
    width: 80%;
    max-width: 400px;justify-content: center;
    transition: all 0.1s linear;
}form input,form select{
    height: 30px;border-radius:10px;
    border-style: solid;box-shadow: 2px 2px 15px 5px rgba(61, 61, 61, 0.226);
    border-width: 2px;
}form input[type="submit"]{
    width: 20%;font-size: 20px;
    background-color: lightgreen;color: white;
    border-color: white;margin: 30px 0;
}form input[type="submit"]:active{
    font-size: 17px;
}h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;margin: 15px;padding: 0;
}